.container-principale {
    padding: auto;
    margin: auto;
    padding: 250px;
}

.containerpadre {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-size: 80px;
}

p {
    font-size: 25px;
}

.containerfiglio {
    flex: 1;
    flex-direction: column;
    max-height: auto;
}

.containerimg {
    display: hidden;
}

img {
    width: 100%;
    height: 100%;
    /* max-width: 750px;
    max-height: 950px;
*/
}

.boxinfo {
    border: 1px solid grey;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 10px;
    max-width: auto;
    max-height: auto;
    padding: 10px;
}

.containerpadre2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    align-items: center;

}

.containerfiglio2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.boxinfo2 {
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
    border-radius: 10px;
    width: auto;
    height: auto;
    margin: 10px;
    padding: 10px;
}


.fakeimg {
    background-color: grey;
    width: 50px;
    height: 75px;
}

.containerlogo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 75%;
    margin: 10px;
    background-color: white;
}

.logo {
    border: 1px solid grey;
    margin: 10px;
    width: 100px;
    height: 150px;
    background-color: red;
}

.contenitore_recensioni {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

}

.recensione {
    border: 1px solid grey;
    border-radius: 10px;
    width: 180px;
    min-width: 50px;
    height: auto;
    margin: 10px;
    padding: 10px;
}

@media (max-width:1024px) {
    .containerimg img {
        flex: 1;
        flex-direction: column;
        max-height: auto;
        display: none;
    }

}

@media (min-width:1024px) {
    .containerfiglio2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
    }
}