body{
    height: 2000px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
    margin: 0 auto;
}
.box2{
    width: 20px;
    height: 20px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.box3{
    width: 100px;
    height: 100px;
    background-color: violet;
    position:sticky;
    top: 150px;
    left: 150px;
}