.box1 {
    width:30px;
    height: 240px;
    background-color: black;
}
.box2{
    width:60px;
    height:240px;
    background-color: green;
}
.box3{
    width:90px;
    height:240px;
    background-color: orange;
}
.box4{
    width:120px;
    height:240px;
    background-color: purple;
}
.portabox{
    background-color: navy;
    display: flex;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}