body{
    height: 2000px;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: red;
    position: static;
    top: 50px;
    left: 50px;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: blue;
    position: fixed;
    top: 50px;
    left: 50px;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: violet;
    position:sticky;
    top: 150px;
    left: 150px;
}