.main_container {
    display: flex;
    width: 100%;
    height: 600px;
}

.griglia {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
    background-color: aqua;
    height: 400px;
    width: 600px;
}

.box_griglia {
    height: 180px;
    width: 90%;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}