.box-1{
    width: 200px;
    height: 200px;
    background-color: red;
    position: relative;
    top: 50px;
    left: 50px;
}
.box-2{
    width: 200px;
    height: 200px;
    background-color: blue;
    position: absolute;
    top: 100px;
    left: 100px;
}